//fonts
$font-family-base: "Raleway", Arial, sans-serif;
$font-family-console: "Consolas", sans-serif;


//colors
$color-light: #FFFFFF;

$color-grey-light-very: #e7e7e7;
$color-grey: #7C7C7C;
$color-grey-light: #B4ABAB;
$color-dark-light: #535353;
$color-dark-less: #343232;
$color-dark: #000000;
$color-green: #16B900; 

$color-red: #940000;

//animations
$transition-duration-button: 0.2s;
$transition-duration-button-slow: 0.3s;

// media-queries
