//fonts
$font-family-base: "Montserrat", Arial, sans-serif;


//colors
$color-light: #FFFFFF;
$color-gray: #F8F5F0;
$color-gray-dark: #B3B3B3;
$color-green-light: #AFC674; 
$color-pink: #FFE2E2;
$color-dark: #000000;
$color-magenta: #A5A1DE; 
$color-red:  #960000;
//animations
$transition-duration-button: 0.2s;
$transition-duration-button-slow: 0.3s;

// borders
$border-radius-base: 20px; 
$border-radius-middle: 15px;
// media-queries
