@import "../../../sass/abstracts/abstracts";

.logotype{
  @include flexible();
  column-gap: 1rem;
  text-decoration: none;
  transition-duration: $transition-duration-button;
  @include hoverEffect(filter, blur(3px));
  &__title{
    text-transform: uppercase;
    color: $color-gray;
    font-size: 4rem;
    font-family: $font-family-base;
  }
}