@import "../../../sass/abstracts/abstracts";

.applications{
  width: 100%;
  overflow: scroll;
  &__wrapper{
    padding: 1rem
  }
  &__list{
    @include flexible(column);
    row-gap: 1.2rem;
  }
  &__item{
    @include flexible();
  }
  .error-log{
    color: $color-dark;
    font-size: 4rem;
    font-family: $font-family-base;
    margin: auto;
    @media screen and (width < 1920px) {
      $value: 4*16/1920*100;
      font-size: clamp(2rem, #{$value}vw,4rem);
    }
  }
}